@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500&display=swap");

:root {
  --bg-light: rgb(241, 249, 252);
  --bg-white: rgb(255, 255, 255);
  --text-dark: rgba(0, 0, 0, 0.7);
}

.bg-light {
  background-color: var(--bg-light);
}
.bg-white {
  background-color: var(--bg-white);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  color: var(--text-dark);
}

body {
  /* background-color: #353836; */
  background: rgb(255, 249, 249);
  background: linear-gradient(
    180deg,
    rgba(255, 249, 249, 1) 0%,
    rgba(237, 237, 237, 1) 47%,
    rgba(222, 222, 222, 1) 100%
  );
  /* color: white; */
  font-family: "Poppins", sans-serif;
  max-width: 80rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Bitter", sans-serif;
  color: #851012;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  margin: 1rem auto;
  max-width: 90%;
  background-color: white;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 3rem;
  /* background-color: #1d1f1d; */
  /* background-color: white; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

header a {
  text-decoration: none;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #0f8552;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

header ul a {
  color: rgb(109, 28, 28);
}

header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  margin-top: -0.9rem;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(109, 28, 28);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* height: calc(100vh - 50px); */
  height: auto;
  max-width: 100%;
  background-color: rgba(39, 153, 35, 0.849);
  padding-top: 1rem;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.mobile-menu a {
  color: #ffffff;
}

section {
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

/* Hero Section */
.hero {
  display: flex;
}

/* About */

.about {
  display: flex;
}
.stats {
  display: flex;
}
.items {
  display: flex;
}
.item {
  display: flex;
}

/* Products */
.products {
  display: flex;
}
.product {
  display: flex;
}

/* Packaging */
.packaging {
  display: flex;
}

/* Storing */

/* Certificates */
.certificates {
  display: flex;
}

/* Footer */
.footer {
  height: 20vh;
  background-color: rgb(109, 28, 28);
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 4rem;
  }

  .wrap {
    max-width: 100%;
    margin: 0;
  }

  header {
    padding: 1.5rem;
  }

  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  .hero {
    flex-direction: column;
    padding: 9rem 0 1rem;
  }

  button {
    margin-top: 1rem;
    width: 20%;
    background-color: rgb(109, 28, 28);
    color: rgb(241, 249, 252);
    border: none;
    padding: 0.3rem 1rem;
  }

  .hero-image {
    display: flex;
    justify-content: flex-end;
  }

  .hero-image img {
    max-width: 75%;
  }

  section {
    max-width: 100%;
    padding: 1.5rem;
  }

  .about {
    flex-direction: column;
    padding-top: 2rem;
    min-height: 100vh;
  }

  .about p {
    padding-top: 1rem;
  }

  .stats {
    padding-top: 3rem;
    flex-direction: column;
  }

  .items {
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 10px;
  }

  .item:nth-child(2) {
    padding: 3rem 0;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .item img {
    max-width: 15%;
  }

  .products {
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
  }

  .product {
    flex-direction: column;
    background-color: var(--bg-light);
    margin-top: 2rem;
    padding: 1rem 2rem;
  }

  .product img {
    max-width: 50%;
  }

  .taste {
    padding-top: 2rem;
  }

  .fruit {
    padding: 2rem 0;
  }

  .availability {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .flex-col {
    align-items: flex-start;
  }

  .flex-col h3 {
    padding-top: 2rem;
    color: rgb(109, 28, 28);
  }

  .storing p {
    padding-top: 2rem;
  }

  .certificates {
    flex-direction: column;
  }

  .certificates div {
    display: flex;
    max-width: 100%;
  }

  .certificates img {
    max-width: 15%;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
